src/main/app/mam-update-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    
    <flow name="mhUpdateServiceListenerFlow" initialState="started">
        <amqp:inbound-endpoint
        	queueName="${rabbit.requestqueue}"
        	queueDurable="true"
        	responseTimeout="10000"
        	connector-ref="InboundAMQPConnector"
        	doc:name="AMQP-0-9"/>
        <flow-ref name="parseMessageSubFlow" doc:name="parseMessageSubFlow"/>
        <flow-ref name="updateCallFlow" doc:name="updateCallFlow"/>
        <set-variable variableName="outcome" value="success" doc:name="Set outcome"/>
        <flow-ref name="publishResponse" doc:name="publishResponse"/>
        <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedBy(org.mule.api.routing.filter.FilterUnacceptedException)]" doc:name="Catch FilterUnacceptedException Strategy">
                <set-variable variableName="message" value="#[(flowVars.message == null || flowVars.message.isEmpty() ? &quot;&quot; : flowVars.message + &quot; - &quot;) +  (flowVars.correlation_id == null || flowVars.correlation_id.isEmpty() ? &quot;correlation_id was not filled in&quot; : &quot;&quot;)]" doc:name="Append 'correlation_id was not filled in' to message"/>
                <set-variable variableName="message" value="#[(flowVars.message == null || flowVars.message.isEmpty() ? &quot;&quot; : flowVars.message + &quot; - &quot;) + (flowVars.fragment_id == null || flowVars.fragment_id.isEmpty() ? &quot;fragment_id was not filled in&quot; : &quot;&quot;)]" doc:name="Append 'fragment_id was not filled in' to message"/>
                <flow-ref name="publishResponse" doc:name="publishResponse"/>
                <logger level="ERROR" doc:name="The message was invalid" message="The message was invalid. #[flowVars.message]"/>
                <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causedBy(org.mule.api.routing.RoutingException)]" doc:name="Catch RoutingException Strategy">
                <set-variable variableName="message" value="Failed to update fragment" doc:name="Set message"/>
                <set-variable variableName="cause" value="#[exception.toString()]" doc:name="Set cause"/>
                <flow-ref name="publishResponse" doc:name="publishResponse"/>
                <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Catch Exception Strategy">
            	<set-variable variableName="message" value="Failed to process message" doc:name="Set message"/>
                <set-variable variableName="cause" value="#[org.apache.commons.lang3.exception.ExceptionUtils.getRootCause(exception).getMessage()]" doc:name="Set cause"/>
                <flow-ref name="publishResponse" doc:name="publishResponse"/>
                <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
    <sub-flow name="parseMessageSubFlow">
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="originalMessage" value="#[payload]" doc:name="Set originalMessage"/>
        <set-variable variableName="type" value="request" doc:name="Set type"/>
        <flow-ref name="esPost" doc:name="esPost"/>
        <set-payload value="#[flowVars.originalMessage]" doc:name="Set Payload"/>
        <logger message="Received request: #[payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="correlation_id" value="#[payload.correlation_id]" doc:name="Set correlation_id"/>
        <set-variable variableName="fragment_id" value="#[payload.fragment_id]" doc:name="Set fragment_id"/>
        <set-variable variableName="cp_name" value="#[payload.cp_name]" doc:name="Set cp_name"/>
        <set-variable variableName="cp_id" value="#[payload.cp_id]" doc:name="Set cp_id"/>
        <set-variable variableName="data" value="#[payload.data]" doc:name="Set data"/>
        <set-payload value="#[flowVars.data]" doc:name="Set Payload"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <dw:transform-message doc:name="Set javaData">
            <dw:input-payload doc:sample="sample_data/empty.xml"/>
            <dw:set-variable variableName="javaData"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
        </dw:transform-message>
        <choice doc:name="Choice">
            <when expression="#[flowVars.cp_id != null &amp;&amp; !flowVars.cp_id.isEmpty()]">
                <logger message="CP id was filled in. Request cp_name" level="INFO" doc:name="CP id was filled in. Request cp_name"/>
                <http:request config-ref="LDAP2MAM" path="/org/{ldap_id}" method="GET" doc:name="HTTP">
                    <http:request-builder>
                        <http:uri-param paramName="ldap_id" value="#[flowVars.cp_id]"/>
                    </http:request-builder>
                </http:request>
                <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
                <set-variable variableName="cp_name" value="#[payload.data.cp_name_mam]" doc:name="Set cp_name"/>
            </when>
            <otherwise>
                <expression-component doc:name="Do nothing"><![CDATA[// Do nothing]]></expression-component>
            </otherwise>
        </choice>
        <message-filter throwOnUnaccepted="true" doc:name="Throw error when request is invalid">
            <and-filter>
                <expression-filter expression="#[flowVars.fragment_id != null &amp;&amp; !flowVars.fragment_id.isEmpty()]"/>
                <expression-filter expression="#[flowVars.correlation_id != null &amp;&amp; !flowVars.correlation_id.isEmpty()]"/>
                <expression-filter expression="#[flowVars.cp_name != null &amp;&amp; !flowVars.cp_name.isEmpty()]"/>
            </and-filter>
        </message-filter>
    </sub-flow>
    <sub-flow name="updateCallFlow">
        <set-variable variableName="basic_credentials" value="#[&quot;viaa@&quot; + flowVars.cp_name + ':' + '${mh.password}']" doc:name="Set basic_credentials"/>
        <set-payload value="#[&quot;&quot;]" doc:name="Set Payload empty"/>
        <set-attachment attachmentName="metadata" value="#[flowVars.data]" contentType="application/xml" doc:name="Attachment"/>
        <http:request config-ref="MediahavenAPI" path="/#[flowVars.fragment_id]" method="POST" doc:name="Update metadata">
            <http:request-builder>
                <http:header headerName="Authorization" value="#['Basic ' + org.apache.commons.codec.binary.Base64.encodeBase64String(flowVars.basic_credentials.getBytes())]"/>
            </http:request-builder>
            <http:success-status-code-validator values="204,403"/>
        </http:request>
        <set-variable variableName="updatedDateTime" value="#[org.joda.time.format.DateTimeFormat.forPattern('E, d MMM yyyy HH:mm:ss z').parseDateTime(message.inboundProperties.date)]" doc:name="Set updatedDateTime"/>
        <expression-component doc:name="Sleep for 2 seconds"><![CDATA[java.lang.Thread.sleep(2000);]]></expression-component>
        <until-successful maxRetries="10" millisBetweenRetries="5000" synchronous="true" doc:name="Until Successful">
            <flow-ref name="checkIfUpdatedSubFlow" doc:name="checkIfUpdatedSubFlow"/>
        </until-successful>
        <logger level="INFO" doc:name="Logger"/>
        <logger message="Successfully updated #[flowVars.fragment_id]" level="INFO" doc:name="Successfully updated fragment_id"/>
    </sub-flow>
    <sub-flow name="checkIfUpdatedSubFlow">
        <http:request config-ref="MediahavenAPI" path="/#[flowVars.fragment_id]" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="#['Basic ' + org.apache.commons.codec.binary.Base64.encodeBase64String(flowVars.basic_credentials.getBytes())]"/>
            </http:request-builder>
            <http:success-status-code-validator values="200"/>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/json_1.json"/>
            <dw:input-variable doc:sample="sample_data/string.dwl" variableName="javaData"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.lastModifiedDate]]></dw:set-payload>
        </dw:transform-message>
        <choice doc:name="Was the fragment updated at the time Mediahaven responded?">
            <when expression="#[new org.joda.time.Interval(flowVars.updatedDateTime.minusSeconds(1), flowVars.updatedDateTime.plusSeconds(1)).contains(new org.joda.time.DateTime(payload))]">
                <expression-component doc:name="Do nothing"><![CDATA[// Do nothing]]></expression-component>
            </when>
            <otherwise>
                <expression-component doc:name="Throw exception"><![CDATA[throw new java.lang.RuntimeException("Fragment was not updated");]]></expression-component>
            </otherwise>
        </choice>
    </sub-flow>
    <flow name="publishResponse" processingStrategy="synchronous">
        <dw:transform-message doc:name="Make queue creation request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"auto_delete":false,
	"durable":true,
	"arguments":{}
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="RabbitMQAPI" path="/queues/#[java.net.URLEncoder.encode('${rabbit.vhost}', &quot;UTF-8&quot;)]/${rabbit.responsequeue}" method="PUT" doc:name="Create queue"/>
        <dw:transform-message doc:name="Make response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	correlation_id: flowVars.correlation_id when (flowVars.correlation_id != null or flowVars.correlation_id != '') otherwise 'unknown',
	fragment_id: flowVars.fragment_id when (flowVars.fragment_id != null or flowVars.fragment_id != '') otherwise 'unknown',
	outcome: flowVars.outcome when flowVars.outcome? otherwise 'failed',
	message: flowVars.message when flowVars.message? otherwise '',
	cause: flowVars.cause when flowVars.cause? otherwise ''
}]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-variable variableName="type" value="response" doc:name="Set type"/>
        <scatter-gather doc:name="Scatter-Gather">
            <amqp:outbound-endpoint queueName="${rabbit.responsequeue}" responseTimeout="10000" connector-ref="OutboundAMQPConnector" doc:name="Publish response"/>
            <flow-ref name="esPost" doc:name="esPost"/>
        </scatter-gather>
        <set-payload value="#[&quot;&quot;]" doc:name="Set Payload"/>
    </flow>
    <sub-flow name="esPost">
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/json.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	(payload mapObject {'$$':$}),
	timestamp: now,
	type: flowVars.type
}]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <http:request config-ref="ES" path="/${es.index}/debug" method="POST" doc:name="POST to ES"/>
    </sub-flow>
</mule>
