src/main/app/mam-update-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">
    <objectstore:config name="RetryCount_ObjectStore__Connector" partition="RetryCount_partition" entryTtl="60000" maxEntries="9999999" doc:name="ObjectStore: Connector" expirationInterval="10000"/>
    
    <flow name="mhUpdateServiceListenerFlow" initialState="started">
        <amqp:inbound-endpoint
        	queueName="${rabbit.requestqueue}"
        	queueDurable="true"
        	responseTimeout="10000"
        	connector-ref="InboundAMQPConnector"
        	doc:name="AMQP-0-9" numberOfChannels="10"/>
        <flow-ref name="parseMessageSubFlow" doc:name="parseMessageSubFlow"/>
        <flow-ref name="getTokenFlow" doc:name="getTokenFlow"/>
        <flow-ref name="updateAndPollFlow" doc:name="updateAndPollFlow"/>
        <set-variable variableName="outcome" value="success" doc:name="Set outcome"/>
        <flow-ref name="publishResponse" doc:name="publishResponse"/>
        <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedBy(org.mule.api.routing.filter.FilterUnacceptedException)]" doc:name="Catch FilterUnacceptedException Strategy">
                <set-variable variableName="message" value="#[(flowVars.message == null || flowVars.message.isEmpty() ? &quot;&quot; : flowVars.message + &quot; - &quot;) +  (flowVars.correlation_id == null || flowVars.correlation_id.isEmpty() ? &quot;correlation_id was not filled in&quot; : &quot;&quot;)]" doc:name="Append 'correlation_id was not filled in' to message"/>
                <set-variable variableName="message" value="#[(flowVars.message == null || flowVars.message.isEmpty() ? &quot;&quot; : flowVars.message + &quot; - &quot;) + (flowVars.fragment_id == null || flowVars.fragment_id.isEmpty() ? &quot;fragment_id was not filled in&quot; : &quot;&quot;)]" doc:name="Append 'fragment_id was not filled in' to message"/>
                <flow-ref name="publishResponse" doc:name="publishResponse"/>
                <logger level="ERROR" doc:name="The message was invalid" message="The message was invalid. #[flowVars.message]"/>
                <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causedBy(org.mule.api.routing.RoutingException)]" doc:name="Catch RoutingException Strategy">
                <set-variable variableName="message" value="Failed to update fragment" doc:name="Set message"/>
                <set-variable variableName="cause" value="#[exception.toString()]" doc:name="Set cause"/>
                <flow-ref name="publishResponse" doc:name="publishResponse"/>
                <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Catch Exception Strategy">
            	<set-variable variableName="message" value="Failed to process message" doc:name="Set message"/>
                <set-variable variableName="cause" value="#[exception.toString() + &quot;\n\n&quot; + message.payloadAs(java.lang.String)]" doc:name="Set cause"/>
                <flow-ref name="publishResponse" doc:name="publishResponse"/>
                <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
    <sub-flow name="parseMessageSubFlow">
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="originalMessage" value="#[payload]" doc:name="Set originalMessage"/>
        <set-variable variableName="type" value="request" doc:name="Set type"/>
        <flow-ref name="esPost" doc:name="esPost"/>
        <set-payload value="#[flowVars.originalMessage]" doc:name="Set Payload to originalMessage"/>
        <set-variable variableName="dest_queue" value="#[payload.dest_queue]" doc:name="Set dest_queue"/>
        <set-variable variableName="correlation_id" value="#[payload.correlation_id]" doc:name="Set correlation_id"/>
        <set-variable variableName="fragment_id" value="#[payload.fragment_id]" doc:name="Set fragment_id"/>
        <set-variable variableName="cp_name" value="#[payload.cp_name]" doc:name="Set cp_name"/>
        <set-variable variableName="cp_id" value="#[payload.cp_id]" doc:name="Set cp_id"/>
        <set-payload value="#[payload.data]" doc:name="Set Payload"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML" mimeType="application/xml"/>
            <dw:transform-message doc:name="Set javaData and remove fragments from data">
            <dw:input-payload doc:sample="sample_data/empty_2.xml"/>
        
        <dw:set-variable variableName="data"><![CDATA[%dw 1.0
 %output application/xml skipNullOn="everywhere"
 ---
 { "MediaHAVEN_external_metadata": {
 (payload.MediaHAVEN_external_metadata mapObject using (key = $$) (
 	'$$' @((payload.MediaHAVEN_external_metadata.'$$'.@ default {} mapObject { '$$': $ })): $ when '$$' != 'fragments' and '$$' != 'MDProperties' otherwise null
 )),
 "MDProperties":
 (payload.MediaHAVEN_external_metadata.MDProperties mapObject (
 	'$$' @((payload.MediaHAVEN_external_metadata.MDProperties.'$$'.@ default {} mapObject { '$$': $ })): $
 ))}
 }]]></dw:set-variable>
         </dw:transform-message>
 
        <choice doc:name="Choice">
            <when expression="#[flowVars.cp_id != null &amp;&amp; !flowVars.cp_id.isEmpty()]">
                <logger message="CP id was filled in. Request cp_name" level="INFO" doc:name="CP id was filled in. Request cp_name"/>
                <http:request config-ref="LDAP2MAM" path="/org/{ldap_id}" method="GET" doc:name="HTTP">
                    <http:request-builder>
                        <http:uri-param paramName="ldap_id" value="#[flowVars.cp_id]"/>
                    </http:request-builder>
                </http:request>
                <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
                <set-variable variableName="cp_name" value="#[payload.data.cp_name_mam]" doc:name="Set cp_name"/>
            </when>
            <otherwise>
                <expression-component doc:name="Do nothing"><![CDATA[// Do nothing]]></expression-component>
            </otherwise>
        </choice>
        <set-variable variableName="basic_credentials" value="#[&quot;viaa@&quot; + flowVars.cp_name + ':' + '${mh.password}']" doc:name="Set basic_credentials"/>
        <message-filter throwOnUnaccepted="true" doc:name="Throw error when request is invalid">
            <and-filter>
                <expression-filter expression="#[flowVars.fragment_id != null &amp;&amp; !flowVars.fragment_id.isEmpty()]"/>
                <expression-filter expression="#[flowVars.correlation_id != null &amp;&amp; !flowVars.correlation_id.isEmpty()]"/>
                <expression-filter expression="#[flowVars.cp_name != null &amp;&amp; !flowVars.cp_name.isEmpty()]"/>
            </and-filter>
        </message-filter>
    </sub-flow>
    <sub-flow name="getTokenFlow">
        <objectstore:contains config-ref="Tokens_ObjectStore_Connector" key="#[flowVars.basic_credentials]" doc:name="Check if the objectstore contains this basic_credentials combo"/>
        <choice doc:name="Do we already have a token?">
            <when expression="#[payload == false]">
                <flow-ref name="requestNewToken" doc:name="requestNewToken"/>
            </when>
            <otherwise>
                <logger level="DEBUG" doc:name="Yes - Use the stored token" message="I already have a token for #[flowVars.cp_name]. No need to request a new one."/>
                <enricher target="#[sessionVars.access_token]" doc:name="Message Enricher">
                    <objectstore:retrieve config-ref="Tokens_ObjectStore_Connector" key="#[flowVars.basic_credentials]" defaultValue-ref="#[null]" doc:name="ObjectStore"/>
                </enricher>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="requestNewToken">
        <logger message="Token didn't work. Requesting a new one!" level="WARN" doc:name="Logger"/>
        <set-payload value="#[null]" doc:name="Set Payload empty"/>
        <set-attachment attachmentName="grant_type" value="password" contentType="text/plain" doc:name="Set grant_type"/>
        <http:request config-ref="MediahavenAPI" path="/oauth/access_token" method="POST" doc:name="Request a token">
            <http:request-builder>
                <http:header headerName="Authorization" value="#['Basic ' + org.apache.commons.codec.binary.Base64.encodeBase64String(flowVars.basic_credentials.getBytes())]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-session-variable variableName="access_token"><![CDATA[%dw 1.0
%output application/java
---
payload.access_token]]></dw:set-session-variable>
        </dw:transform-message>
        <objectstore:store config-ref="Tokens_ObjectStore_Connector" key="#[flowVars.basic_credentials]" value-ref="#[sessionVars.access_token]" overwrite="true" doc:name="ObjectStore"/>
    </sub-flow>
    <sub-flow name="updateAndPollFlow">
        <set-payload value="#[&quot;&quot;]" doc:name="Set Payload empty"/>
        <set-variable variableName="updateRequestedTime" value="#[new org.joda.time.DateTime().withZone(org.joda.time.DateTimeZone.UTC)]" doc:name="Set updateRequestedTime"/>
        <flow-ref name="tryUpdateMetadataFlow" doc:name="tryUpdateMetadataFlow"/>
        <set-variable variableName="updatedDateTime" value="#[org.joda.time.format.DateTimeFormat.forPattern('E, d MMM yyyy HH:mm:ss z').parseDateTime(message.inboundProperties.date).withZone(org.joda.time.DateTimeZone.UTC)]" doc:name="Set updatedDateTime"/>
        <until-successful maxRetries="999999999" millisBetweenRetries="1000" synchronous="true" doc:name="Until Successful" failureExpression="#[flowVars.outcome == &quot;RETRY&quot;]">
            <flow-ref name="tryCheckIfUpdatedSubFlow" doc:name="tryCheckIfUpdatedSubFlow"/>
        </until-successful>
        <logger message="Successfully updated #[flowVars.fragment_id]" level="INFO" doc:name="Successfully updated fragment_id"/>
    </sub-flow>
    <flow name="tryUpdateMetadataFlow" processingStrategy="synchronous">
        <flow-ref name="performUpdate" doc:name="performUpdate"/>
        <choice doc:name="When 403 try again with cp_name viaa">
            <when expression="#[message.inboundProperties.'http.status' == 403]">
                <set-variable variableName="cp_name" value="#[&quot;viaa&quot;]" doc:name="Set cp_name to viaa"/>
                <set-variable variableName="basic_credentials" value="#[&quot;viaa@&quot; + flowVars.cp_name + ':' + '${mh.password}']" doc:name="Set basic_credentials"/>
                <flow-ref name="requestNewToken" doc:name="requestNewToken"/>
                <flow-ref name="performUpdate" doc:name="performUpdate"/>
            </when>
            <otherwise>
                <expression-component doc:name="do nothing"><![CDATA[// do nothing]]></expression-component>
            </otherwise>
        </choice>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <choice doc:name="Is the response code 401?">
                <when expression="#[message.inboundProperties.'http.status' == 401]">
                    <flow-ref name="requestNewToken" doc:name="requestNewToken"/>
                    <flow-ref name="performUpdate" doc:name="performUpdate"/>
                </when>
                <otherwise>
            	    <scripting:transformer doc:name="Script">
                        <scripting:script engine="Groovy"><![CDATA[throw new java.lang.Exception("Response code " + message.getInboundProperty('http.status') + " mapped as failure. Message payload is of type: BufferInputStream");]]></scripting:script>
                    </scripting:transformer>
                </otherwise>
            </choice>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="performUpdate">
        <set-payload value="#[&quot;&quot;]" doc:name="Set Payload to empty"/>
        <set-attachment attachmentName="metadata" value="#[flowVars.data]" contentType="application/xml" doc:name="Attachment"/>
        <logger message="Sending update for #[flowVars.fragment_id]" level="INFO" doc:name="Sending update"/>
        <until-successful maxRetries="5" failureExpression="#[message.inboundProperties.'http.status' == 500 || message.inboundProperties.'http.status' == 401]" synchronous="true" doc:name="Failure when 500 return code">
            <http:request config-ref="MediahavenAPI" path="/media/#[flowVars.fragment_id]" method="POST" doc:name="Update metadata">
                <http:request-builder>
                    <http:header headerName="Authorization" value="#['Bearer ' + sessionVars.access_token]"/>
                </http:request-builder>
                <http:success-status-code-validator values="204,403"/>
            </http:request>
        </until-successful>
    </sub-flow>
    <flow name="tryCheckIfUpdatedSubFlow" processingStrategy="synchronous">
        <logger message="Checking if the fragment was updated (#[flowVars.fragment_id])" level="INFO" doc:name="Logger"/>
        <enricher target="#[sessionVars.retry]" doc:name="Message Enricher - retry count">
            <objectstore:retrieve config-ref="RetryCount_ObjectStore__Connector" key="#[flowVars.fragment_id]" defaultValue-ref="#[0]" doc:name="ObjectStore"/>
        </enricher>
        <logger message="Sleeping #[sessionVars.retry == 0 ? 1.5 : sessionVars.retry*2 &lt; 30 ? sessionVars.retry*2 : 30] seconds" level="INFO" doc:name="Sleep"/>
        <scripting:component doc:name="Bit of sleep">
            <scripting:script engine="Groovy"><![CDATA[if (sessionVars.retry == 0) sleep(1500);
if (sessionVars.retry < 15) sleep(sessionVars.retry*2*1000);
else sleep(30000);]]></scripting:script>
        </scripting:component>
        <flow-ref name="getTokenFlow" doc:name="getTokenFlow"/>
        <flow-ref name="performPoll" doc:name="performPoll"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
        	<choice doc:name="Is the response code 401?">
                <when expression="#[message.inboundProperties.'http.status' == 401]">
                    <logger message="Response code was 401. Request a new token" level="WARN" doc:name="Response code was 401. Request a new token"/>
                    <flow-ref name="requestNewToken" doc:name="requestNewToken"/>
                    <flow-ref name="getTokenFlow" doc:name="getTokenFlow"/>
                    <flow-ref name="performPoll" doc:name="performPoll"/>
                </when>
                <otherwise>
            	    <scripting:transformer doc:name="Script">
                        <scripting:script engine="Groovy"><![CDATA[throw new java.lang.Exception("Response code " + message.getInboundProperty('http.status') + " mapped as failure. Message payload is of type: BufferInputStream");]]></scripting:script>
                    </scripting:transformer>
                </otherwise>
            </choice>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="performPoll">
        <set-payload value="#[&quot;&quot;]" doc:name="Set Payload to empty"/>
        <http:request config-ref="MediahavenAPI" path="/media/#[flowVars.fragment_id]" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="#['Bearer ' + sessionVars.access_token]"/>
            </http:request-builder>
            <http:success-status-code-validator values="200,401"/>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/json_1.json"/>
            <dw:input-variable doc:sample="sample_data/string.dwl" variableName="javaData"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.lastModifiedDate]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="lastModifiedDate" value="#[new org.joda.time.LocalDateTime(org.joda.time.format.DateTimeFormat.forPattern(&quot;yyyy-MM-dd HH:mm:ss&quot;).parseDateTime(payload.replaceAll(&quot;Z&quot;, &quot;&quot;).replaceAll(&quot;T&quot;, &quot; &quot;)).getMillis()).toDateTime(org.joda.time.DateTimeZone.UTC)]" doc:name="Set lastModifiedDate"/>
        <logger message="Date updated: #[flowVars.lastModifiedDate]" level="INFO" doc:name="Logger"/>
        <logger message="Date update was requested: #[flowVars.updateRequestedTime.secondOfDay().roundFloorCopy()]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Is the last modified date after the date request?">
            <when expression="#[flowVars.lastModifiedDate &gt;= flowVars.updateRequestedTime.secondOfDay().roundFloorCopy()]">
                <set-variable variableName="outcome" value="OK" doc:name="Set outcome"/>
            </when>
            <otherwise>
                <set-variable variableName="outcome" value="RETRY" doc:name="Set outcome"/>
                <objectstore:store config-ref="RetryCount_ObjectStore__Connector" value-ref="#[sessionVars.retry+1]" overwrite="true" key="#[flowVars.fragment_id]" doc:name="Save retry for this fragment ID"/>
            </otherwise>
        </choice>
    </sub-flow>
    <flow name="publishResponse" processingStrategy="synchronous">
        <dw:transform-message doc:name="Make response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	correlation_id: flowVars.correlation_id when (flowVars.correlation_id != null or flowVars.correlation_id != '') otherwise 'unknown',
	fragment_id: flowVars.fragment_id when (flowVars.fragment_id != null or flowVars.fragment_id != '') otherwise 'unknown',
	outcome: flowVars.outcome when (flowVars.outcome == 'success') otherwise 'failed',
	message: flowVars.message when flowVars.message? otherwise '',
	cause: flowVars.cause when flowVars.cause? otherwise ''
}]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-variable variableName="esMessage" value="#[payload]" doc:name="Set esMessage"/>
        <set-variable variableName="type" value="response" doc:name="Set type"/>
        <scatter-gather doc:name="Scatter-Gather">
            <amqp:outbound-endpoint queueName="#[flowVars.dest_queue == null ? '${rabbit.responsequeue}' : flowVars.dest_queue]" responseTimeout="10000" connector-ref="OutboundAMQPConnector" doc:name="Publish response" queueDurable="true"/>
            <until-successful maxRetries="10" millisBetweenRetries="10000" synchronous="true" doc:name="Until Successful">
                <flow-ref name="esPost" doc:name="esPost"/>
            </until-successful>
        </scatter-gather>
        <set-payload value="#[&quot;&quot;]" doc:name="Set Payload"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="ES THREW A MAGICAL 400. THE PAYLOAD IS:" level="ERROR" doc:name="Logger"/>
            <logger message="#[message.payloadAs(java.lang.String)]" level="ERROR" doc:name="Logger"/>
            <set-payload value="#[flowVars.esMessage]" doc:name="Set Payload"/>
            <amqp:outbound-endpoint queueName="mam-update-espost-errors" queueDurable="true" responseTimeout="10000" connector-ref="OutboundAMQPConnector" doc:name="AMQP-0-9"/>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="esPost">
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/json.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	(payload mapObject {'$$':$}),
	timestamp: now,
	type: flowVars.type
}]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <http:request config-ref="ES" path="/${es.index}-#[server.dateTime.format('yyyy.MM')]/debug" method="POST" doc:name="POST to ES"/>
    </sub-flow>
</mule>
